<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <config>
    <add key="defaultPushSource" value="https://nuget.pkg.github.com/Tyler-IN/index.json" />
  </config>
  <packageSources>
    <add key="GitHub" value="https://nuget.pkg.github.com/Tyler-IN/index.json" />
  </packageSources>
</configuration>